body{
    background-image: url(xax1x.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.divGame{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    background-color: rgba(11, 1, 1, 0.639);
    width: 500px;
    border-radius: 30px;
     
}
#gameH1{
     display: flex;
     justify-content: center;
     align-items: center;
     color: rgb(243, 171, 4);
}
.bigdiv{
    display: flex;
    justify-content: center;
     align-items: center;
}
#resultH1{
    color: azure;
    display: flex;
    justify-content: center;
}
#input{
    width: 300px;
    height: 30px;
    border-radius: 25px;
}
.bigdiv2{
    display: block;
    justify-content: center;
}
#buttonGame{
    display: flex;
    justify-content: center;
}