@import url('https://fonts.googleapis.com/css2?family=Abel&family=Secular+One&display=swap');



*{
    padding: 0px; 
    margin: 0px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



#mek{
    width: 180px;
}
#big1{
    display: flex;
    justify-content:space-around;
    height: 100px;
}

#big1 ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    justify-content: flex-end;
    color: azure;
}
#big1 ul li {
    margin: 20px;
   
}
#big2  {
    margin-bottom: 40px;

}
#erku {
    display: flex;
    height:300px;
    align-items: flex-start ;
    justify-content:flex-start;
    margin-top: 230px;
    margin-left: 200px;
    color: azure;
   
}
#min1{
    width: 400px;
    background-color: rgba(120, 113, 113, 0.349);
    height: 300px;
    border-radius: 35px;
    margin-left: 100px;
    
}
body{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}
#min2{
    width: 400px;
    background-color: rgba(120, 113, 113, 0.349);
    height: 300px;
    border-radius: 35px;
    margin-right: 100px;
   
    
   
    
}

#big3{
    display: flex;
    justify-content: space-evenly;
    margin: 90px;
    margin-top: -10px;
}
#cors{
    display: flex;
    justify-content: center;
    height:90px;
    color: azure;
    font-family: 'Abel', sans-serif;
}


#hing{
  width: 65px;
  height: 65px;
  color: azure;
  display: flex;
   margin-left: 180px;
   border: 4px white solid ;
  border-radius: 50%;
  
}
#vec{
  margin-left: 200px;
   width: 120px;
}
#min1 p{
    text-align: center;
    color: rgb(11, 170, 249);
}
#min1 h1{
    color: azure;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
#min2 p{
    text-align: center;
    color: rgb(11, 170, 249);
}
#min2 h1{
    color: azure;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
#yot{
    display: flex;
    height:300px;
    align-items: flex-start ;
    justify-content:flex-start;
    margin-top: 230px;
    margin-left: 200px;
    color: azure;
    font-size: 20px;
}
#big4{
    text-align: center;
    height: 200px;
    color: rgb(206, 172, 237);
    font-size: 40px;

}
#min3{
    display: flex;

}
.iny{
    font-family: 'Abel', sans-serif;
}

.bigdiv{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(120, 113, 113, 0.349);
    border-radius: 15%;
    width: 700px;
    height: 600px ;

 }
.Mn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 600px ;
}
 
 
 .het,.araj{
    width: 70px;
    height: 30px;
    opacity: 0,5;
    border-radius: 20px;
    border: none;
 }
 .het:hover{
    background-color: rgb(115, 115, 234);
    
 }
 .araj:hover{
    background-color: rgb(115, 115, 234);
 }

.mindiv{
    position: fixed;

 
}

.bigdiv2{
    width: 400px;
    height: 400px;
    background-image: url(https://www.w3.org/html/logo/downloads/HTML5_Logo_256.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
 
 .div2{
    background-image: url(https://i0.wp.com/theicom.org/wp-content/uploads/2016/03/js-logo.png?fit=500%2C500&ssl=1&w=640);
}
                                                                                           
 .div3{
    background-image: url(https://habrastorage.org/web/d12/b19/799/d12b197994354ce88a8a48881beac874.png);
}           

body{
    background-color: #000;
}

.mygame , .mygame2{
    display: flex;
    justify-content: space-around;
    height: 500px;
    align-items: center;
}
.d1{
    width: 400px;
    height: 350px;
    background-color: rgba(120, 113, 113, 0.349);
    border-radius: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}   

.d2{

    width: 400px;
    height: 350px;
    background-color: rgba(120, 113, 113, 0.349);
    border-radius: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}   

.d3 , .d4 , .d5 , .d6{
    width: 400px;
    height: 350px;
    background-color: rgba(120, 113, 113, 0.349);
    border-radius: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}   
.main {
    position: fixed;
    top: 50%;
    left: 50%;
    height: 1px;
    width: 1px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: -42vw -4vh 0px 0px #fff,25vw -41vh 0px 0px #fff,-20vw 49vh 0px 1px #fff,5vw 40vh 1px 1px #fff,29vw 19vh 1px 0px #fff,-44vw -13vh 0px 0px #fff,46vw 41vh 0px 1px #fff,-3vw -45vh 0px 1px #fff,47vw 35vh 1px 0px #fff,12vw -8vh 1px 0px #fff,-34vw 48vh 1px 1px #fff,32vw 26vh 1px 1px #fff,32vw -41vh 1px 1px #fff,0vw 37vh 1px 1px #fff,34vw -26vh 1px 0px #fff,-14vw -49vh 1px 0px #fff,-12vw 45vh 0px 1px #fff,-44vw -33vh 0px 1px #fff,-13vw 41vh 0px 0px #fff,-36vw -11vh 0px 1px #fff,-23vw -24vh 1px 0px #fff,-38vw -27vh 0px 1px #fff,16vw -19vh 0px 0px #fff,28vw 33vh 1px 0px #fff,-49vw -4vh 0px 0px #fff,16vw 32vh 0px 1px #fff,36vw -18vh 1px 0px #fff,-25vw -30vh 1px 0px #fff,-23vw 24vh 0px 1px #fff,-2vw -35vh 1px 1px #fff,-25vw 9vh 0px 0px #fff,-15vw -34vh 0px 0px #fff,-8vw -19vh 1px 0px #fff,-20vw -20vh 1px 1px #fff,42vw 50vh 0px 1px #fff,-32vw 10vh 1px 0px #fff,-23vw -17vh 0px 0px #fff,44vw 15vh 1px 0px #fff,-40vw 33vh 1px 1px #fff,-43vw 8vh 0px 0px #fff,-48vw -15vh 1px 1px #fff,-24vw 17vh 0px 0px #fff,-31vw 50vh 1px 0px #fff,36vw -38vh 0px 1px #fff,-7vw 48vh 0px 0px #fff,15vw -32vh 0px 0px #fff,29vw -41vh 0px 0px #fff,2vw 37vh 1px 0px #fff,7vw -40vh 1px 1px #fff,15vw 18vh 0px 0px #fff,25vw -13vh 1px 1px #fff,-46vw -12vh 1px 1px #fff,-18vw 22vh 0px 0px #fff,23vw -9vh 1px 0px #fff,50vw 12vh 0px 1px #fff,45vw 2vh 0px 0px #fff,14vw -48vh 1px 0px #fff,23vw 43vh 0px 1px #fff,-40vw 16vh 1px 1px #fff,20vw -31vh 0px 1px #fff,-17vw 44vh 1px 1px #fff,18vw -45vh 0px 0px #fff,33vw -6vh 0px 0px #fff,0vw 7vh 0px 1px #fff,-10vw -18vh 0px 1px #fff,-19vw 5vh 1px 0px #fff,1vw 42vh 0px 0px #fff,22vw 48vh 0px 1px #fff,39vw -8vh 1px 1px #fff,-6vw -42vh 1px 0px #fff,-47vw 34vh 0px 0px #fff,-46vw 19vh 0px 1px #fff,-12vw -32vh 0px 0px #fff,-45vw -38vh 0px 1px #fff,-28vw 18vh 1px 0px #fff,-38vw -46vh 1px 1px #fff,49vw -6vh 1px 1px #fff,-28vw 18vh 1px 1px #fff,10vw -24vh 0px 1px #fff,-5vw -11vh 1px 1px #fff,33vw -8vh 1px 0px #fff,-16vw 17vh 0px 0px #fff,18vw 27vh 0px 1px #fff,-8vw -10vh 1px 1px #fff;
  
  /* stars were too big with the layers above but left the code in case no one cares  -- as in, if noone's just that  one other loner who actually cares    */
  
  box-shadow: 24vw 9vh 1px 0px #fff,12vw -24vh 0px 1px #fff,-45vw -22vh 0px 0px #fff,-37vw -40vh 0px 1px #fff,29vw 19vh 0px 1px #fff,4vw -8vh 0px 1px #fff,-5vw 21vh 1px 1px #fff,-27vw 26vh 1px 1px #fff,-47vw -3vh 1px 1px #fff,-28vw -30vh 0px 1px #fff,-43vw -27vh 0px 1px #fff,4vw 22vh 1px 1px #fff,36vw 23vh 0px 0px #fff,-21vw 24vh 1px 1px #fff,-16vw 2vh 1px 0px #fff,-16vw -6vh 0px 0px #fff,5vw 26vh 0px 0px #fff,-34vw 41vh 0px 0px #fff,1vw 42vh 1px 1px #fff,11vw -13vh 1px 1px #fff,48vw -8vh 1px 0px #fff,22vw -15vh 0px 0px #fff,45vw 49vh 0px 0px #fff,43vw -27vh 1px 1px #fff,20vw -2vh 0px 0px #fff,8vw 22vh 0px 1px #fff,39vw 48vh 1px 1px #fff,-21vw -11vh 0px 1px #fff,-40vw 45vh 0px 1px #fff,11vw -30vh 1px 0px #fff,26vw 30vh 1px 0px #fff,45vw -29vh 0px 1px #fff,-2vw 18vh 0px 0px #fff,-29vw -45vh 1px 0px #fff,-7vw -27vh 1px 1px #fff,42vw 24vh 0px 0px #fff,45vw -48vh 1px 0px #fff,-36vw -18vh 0px 0px #fff,-44vw 13vh 0px 1px #fff,36vw 16vh 0px 1px #fff,40vw 24vh 0px 0px #fff,18vw 11vh 0px 0px #fff,-15vw -23vh 1px 0px #fff,-24vw 48vh 0px 1px #fff,27vw -45vh 1px 0px #fff,-2vw -24vh 0px 1px #fff,-15vw -28vh 0px 0px #fff,-43vw 13vh 1px 0px #fff,7vw 27vh 1px 0px #fff,47vw 5vh 0px 0px #fff,-45vw 15vh 1px 1px #fff,-5vw -28vh 0px 1px #fff,38vw 25vh 1px 1px #fff,-39vw -1vh 1px 0px #fff,5vw 0vh 1px 0px #fff,49vw 13vh 0px 0px #fff,48vw 10vh 0px 1px #fff,19vw -28vh 0px 0px #fff,4vw 7vh 0px 0px #fff,21vw 21vh 1px 1px #fff,-15vw -15vh 0px 1px #fff,-6vw -42vh 1px 0px #fff,-15vw 48vh 1px 1px #fff,-23vw 25vh 1px 1px #fff,-48vw 25vh 0px 1px #fff,-31vw -19vh 0px 1px #fff,4vw 37vh 1px 1px #fff,-43vw 28vh 0px 0px #fff,3vw -25vh 0px 1px #fff,-39vw 14vh 0px 1px #fff,-40vw 31vh 0px 1px #fff,35vw -36vh 1px 1px #fff,16vw 49vh 0px 0px #fff,6vw 39vh 0px 0px #fff,3vw -35vh 0px 1px #fff,-44vw -2vh 1px 0px #fff,-6vw 21vh 1px 0px #fff,48vw 9vh 1px 1px #fff,-43vw 30vh 1px 1px #fff,29vw -12vh 1px 1px #fff,-48vw 13vh 1px 0px #fff,-42vw 32vh 1px 1px #fff,34vw 15vh 1px 1px #fff,29vw -37vh 1px 1px #fff,28vw 2vh 0px 0px #fff;
  animation: zoom 16s alternate infinite; 
}

@keyframes zoom {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.5);
    }
}
#hing:hover , #cors:hover , h1:hover {
  
   
    position: relative;
    animation-name: example;
    animation-duration: 1s;
    animation-iteration-count: 1;
  }
  
  @keyframes example {
    0%   { left:0px; bottom:0px;}
    25%  { left:0px; bottom: 35px;}
    0%   { left:0px; bottom:25px;}
   
    
  }
  li:hover  {
  
   
    position: relative;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: 1;
  }
  
  @keyframes example {
    0%   { left:0px; bottom:0px;}
    25%  { left:0px; bottom: 5px;}
     25%   { left:0px; bottom:0px;}
   
    
  }
   #min1:hover{
        border-radius: 0px;
   }
   #min2:hover{
    border-radius: 0px;
}
.d1:hover{
    
   
    border-radius: 0px;
   
}   

.d2:hover{

   
    border-radius: 0px;
}   

.d3:hover{
  
    border-radius: 0px;
}   
 
.futer{
    background-color: rgb(3, 1, 19);
     color: aliceblue;
    width: 100%;
    height: 140px;
   
}
#hr{
    margin-bottom: 40px;
}
.mm{
    display: flex;
    align-items: center;
    justify-content:space-around;
}
/* .mm ,hr{
    width: 230px;
} */